:root {
    background-color: #C3E8BD;
}

.navbar>.container-fluid {
    display: block;
}

.mi-h1 {
    color: white;
    display: flex;
    margin-left: 17%;
    align-items: center;
    font-weight: bold;
}

.mi-navbar {
    gap: 5%;
    font-size: large;
}

.mi-buton-menu {
    margin-top: 1rem;
    color: white;
}

.menu-principal {
    background-color: #040403;
}

.nav-underline .nav-link.active {
    color: #9DDBAD;
}

.nav-link {
    color: white;
}

.nav {
    --bs-nav-link-hover-color: #9DDBAD;
}

.mi-hr {
    background-color: #8EB897;
    border: none;
    height: 0.2rem;
    opacity: 1;
    border-radius: 1rem;
}

.offcanvas {
    --bs-offcanvas-bg: #040403;
}

.mi-h5 {
    color: white;
    margin-bottom: 5%;
}

.profile-pic-container {
    display: inline;
    position: absolute;
    margin-left: 88%;
    margin-top: 1%;
}

.profile-pic {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic img {
    max-width: 100%;
    border-radius: 50%;
}

